This is the deliverable for the tinder project of speed dating, for the Jedha data science & engineering certification

Author : Youenn PATAT

![Tinder](https://full-stack-assets.s3.eu-west-3.amazonaws.com/M03-EDA/Tinder-Symbole.png)

# 1) Discovering of the general data.

The goal of this project is to see what factors are important to consider a second date.
For that we will follow the different steps that are note at titles.

Fisrt we will discover the dataset and see what we can do with it.

In [1]:
#import libraries

import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
from plotly.subplots import make_subplots

In [8]:
#read the dataset
df = pd.read_csv("Speed_Dating_Data.csv", encoding = "ISO-8859-1")

df.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

# 2) 1st step, The least desirable attribute.

# 3) 2nd step, Importance of the attractiveness.

# 4) 3rd step, shared interests Vs shared racial background.

# 5) 4th step, own perceived value.

# 6) 5th step, be the 1st speed date of the night or the last ?

# 7) Final step, some conclusions